<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Cake 360</h1>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <nav class="navbar navbar-default nav">
        <div class="navbar-header">
          <ol class="nav navbar-nav">
            <li><a routerLink="/" routerLinkActive="active" style="color: white; font-size: xx-large;">Home</a></li>
            <li><a routerLink="/welcome" routerLinkActive="active" style="color: white; font-size: xx-large;">Welcome...</a></li>
            <li><a routerLink="/table" routerLinkActive="active" style="color: white; font-size: xx-large;">Menu</a></li>
          </ol>
        </div>
        <div class="content" align="right">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://twitter.com/cake360ke" class="link"><i class="fa fa-twitter"></i></a>
          <a href="https://facebook.com/cake360ke" class="link"><i class="fa fa-facebook"></i></a>
          <a class="link"><i class="fa fa-youtube"></i></a>
          <a href="https://instagram.com/cake360ke" class="link"><i class="fa fa-instagram"></i></a>
        </div>
    </nav>
  </div>
</div>
