.row{
  margin: 0%;
  padding: 0%;
}
.tse{
    padding: 15px;
    margin: 0px;
    width: auto;
    text-align: center;
    background-color: transparent;
    border: none;
}

.nav{
    font-size: 20px;
    background-color: transparent;
    border: 0ch;
    border-radius: 20px;
}

h1{
    font-size: 80px;
    color: auto;
}
.content{
  align-self: right;
}
.link{
  margin: 20px;
  font-size: 30px;
  color: white;
}
.lip{
  color: white;
  font-size: large;
}
a :hover, a :active{
  color: rgb(245, 47, 195);
}