<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Cake-360</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <nav class="navbar navbar-default nav">
        <div class="navbar-header">
          <a routerLink="/home" routerLinkActive="active" class="navbar-brand" style="color: white">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ol class="nav navbar-nav">
            <li class="van"><a routerLink="/welcome" routerLinkActive="active" style="color: white">Welcome...</a></li>
            <li class="van"><a routerLink="/table" routerLinkActive="active" style="color: white">Menu</a></li>
          </ol>
        </div>
    </nav>
  </div>
</div>
