.tse{
    padding: 15px;
    margin: 0px;
    width: auto;
    text-align: center;
    background-color: transparent;
    border: none;
}

.nav{
    font-size: 20px;
    background-color: rgb(248, 66, 97);
    border: 0ch;
    border-radius: 20px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: auto;
}
/* .row{
    background: 
         linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
} */

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }
  
  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

.spacer{
    width: 60%;
}