<div class="row" style="padding: 0px; font-size: large; color: black;">
    <div class="col-md-12 col-xs-12 col-sm-12" align="center">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake1.jpg"><br>
            Classic Vanilla
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake2.jpg"><br>
            Pina Colada
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake3.jpg"><br>
            Marble
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake4.jpg"><br>
            Raspberry
        </div>
    </div>
    <div class="col-md-12 col-xs-12" align="center">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake5.jpg"><br>
            Orange
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake6.jpg"><br>
            Caramel
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake7.jpg"><br>
            Chocolate
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake8.jpg"><br>
            Chocolate Mint
        </div>
    </div>
    <div class="col-md-12 col-xs-12" align="center">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake9.jpg"><br>
            Chocolate Fudge
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="../../../assets/pics/cake10.jpg"><br>
            Oreo
        </div>
    </div>
</div>