<div class="row" style="padding: 80px; font-size: x-large; color: black;">
    <div class="col-md-12">
        <div class="col-md-4 pad">
            <img src="../../../assets/img/classic.jpg"><br>
            Classic Vanilla
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/pina.jpg"><br>
            Pina Colada
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/marble.jpg"><br>
            Marble
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/raspberry.jpg"><br>
            Raspberry
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/orange.jpg"><br>
            Orange
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/caramel.jpg"><br>
            Caramel
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/choco.jpg"><br>
            Chocolate
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/mint.jpg"><br>
            Chocolate Mint
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/fudge.jpg"><br>
            Chocolate Fudge
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/oreo.jpg"><br>
            Oreo
        </div>
    </div>
</div>