<div class="row" style="padding: 80px; font-size: x-large; color: black;">
    <div class="col-md-12">
        <div class="col-md-4 pad">
            <img src="../../../assets/img/classic.jpg"><br>
            Classic Vanilla
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/pina.jpg"><br>
            Pina Colada
        </div>
        <div class="col-md-4 pad">
            <img src="../../../assets/img/marble.jpg"><br>
            Marble
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/IMG-20190813-WA0011.jpg">
        </div>
    </div>
</div>