img{
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
}
.row{
    margin: 0%;
    padding: 0%;
}
h1{
    margin: 0px;
    padding: 0%;
}
.col-md-4, .col-xs-6{
    margin: 0%;
    padding: 0px;
}