<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
                <table>
                        <tr><td><b>Flavor</b></td>
                          <td><b>1 kg</b></td>
                          <td><b>2 kg</b></td>
                          <td><b>3 kg</b></td>
                          <td><b>4 kg</b></td></tr>
                        <tr><td>Vanilla</td>
                          <td>1,800</td>
                          <td>3,0001</td>
                          <td>3,900</td>
                          <td>4,600</td></tr>
                        <tr><td>Orange</td>
                          <td>1,800</td>
                          <td>3,000</td>
                          <td>3,900</td>
                      <td>4,600</td></tr>
                        <tr><td>Raspberry</td>
                          <td>1,800</td>
                          <td>3,000</td>
                          <td>3,900</td>
                          <td>4,600</td></tr>
                        <tr><td>Chocolate</td>
                          <td>2,000</td>
                          <td>3,200</td>
                          <td>4,100</td>
                          <td>4,900</td></tr>
                        <tr><td>Chocolate fudge</td>
                          <td>2,200</td>
                          <td>3,400</td>
                          <td>4,400</td>
                          <td>5,200</td></tr>
                        <tr><td>Chocolate mint</td>
                          <td>2,200</td>
                          <td>3,400</td>
                          <td>4,400</td>
                          <td>5,200</td></tr>
                        <tr><td>Red velvet</td>
                          <td>2,000</td>
                          <td>3,200</td>
                          <td>4,100</td>
                          <td>4,900</td></tr>
                        <tr><td>Black forest</td>
                          <td>2,000</td>
                          <td>3,200</td>
                          <td>4,100</td>
                          <td>4,900</td></tr>
                        <tr><td>White forest</td>
                          <td>2,000</td>
                          <td>3,200</td>
                          <td>4,100</td>
                          <td>4,900</td></tr>
                        <tr><td>Pina colada</td>
                          <td>2,000</td>
                          <td>3,200</td>
                          <td>4,100</td>
                          <td>4,900</td></tr>
                      </table>
          </div>
          <div class="col-md-6 offset-md-6" style="align-content: center; text-align: center">
                <table>
                        <tr><td>Banana bread</td>
                          <td>200</td></tr>
                        <tr><td>Cupcakes</td>
                          <td>@80 (min. 6 pieces)</td></tr>
                        <tr><td>Customized cupcakes</td>
                          <td>@100 (min. 6 pieces)</td></tr>
                        <tr><td>Rainbow cake</td>
                          <td>4,200</td></tr>
                        <tr><td>Pineapple Upside Down</td>
                          <td>*</td></tr>
                      </table>
          </div>
        </div>
        <br>
        <div class="row">
          
        </div>
      </div>
      