main {
    display: flex;
    justify-content: center;
  }
  
  table {
    max-width: 100%;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(255, 212, 244);
  }
  
  th {
    background-color: #555;
    color: #fff;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
  }
  .tess{
    padding: 8px;
  }