<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" style="background: white;">
        <form method="post fom" action="subscriberform.php"
        enctype="multipart/form-data" name="EmailForm"
        oninput="x.value=parseInt(product.value)*parseInt(quantity.value)">
        <!-- action=" mailto: francismburu75@gmail.com" method="POST"  -->
            <div class="col-md-12 col-xs-12" align=center>
                <img src="../../assets/img/logo.PNG" style="width: 40%">
                <p align="center">Order form</p>
            </div>

            <div class="col-md-12">
                <div class="col-md-4 col-sm-6">
                    <input [required]="true" type="text" class="form-control six" placeholder="Name" name=name>
                </div>
                <div class="col-md-3 col-sm-6">
                    <input type="text" class="form-control six" placeholder="Location" name=location>
                </div>
                <div class="col-md-5 col-sm-3">
                    <select id="product">
                        <option value="Vanilla" id="V">Vanilla</option>
                        <option value="Orange">Orange</option>
                        <option value="Marble">Marble</option>
                        <option value="Raspberry">Raspberry</option>
                        <option value="Chocolate">Chocolate</option>
                        <option value="Caramel">Caramel</option>
                        <option value="Chocolate fudge">Chocolate fudge</option>
                        <option value="Chocolate mint">Chocolate mint</option>
                        <option value="Red velvet">Red velvet</option>
                        <option value="Black forest">Black forest</option>
                        <option value="White forest">White forest</option>
                        <option value="Pina colada">Pina colada</option>
                        <option value="Oreo">Oreo</option>
                        <option value="Fruit cake">Fruit cake</option>
                        <option value="Rainbow cake">Rainbow cake</option>
                        <option value="Other">Others</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="col-md-2 col-sm-2">
                    <input type="number" class="form-control four" id="quantity" name="quantity" placeholder="in kgs" min="1" max="5">
                </div>
                <div class="col-md-4 col-sm-3">
                    <input type="currency" class="form-control four" placeholder="Price" name="price">
                    <output name="price" for="product * quantity"></output>
                </div>
                <div class="col-md-6 col-sm-4">
                    <input [required]="true" type="tel" placeholder="Tel" name="contact" class="form-control four">
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="text" class="form-control four desc" placeholder="Description" name="description">
                </div>
                <div class="col-md-6 col-md-ofset-3 col-sm-6">
                    <input type="email" placeholder="Email" name="email" class="form-control four">
                </div>
                <div class="col-md-6 col-md-ofset-3 col-sm-6">
                    <input [required]="true" type="date" placeholder="Delivery Date" name="date" class="form-control four">
                    <label>Delivery Date</label>
                </div>
                <div class="col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7" align=center>
                    <button class="butt" (click)="submi()" style="font-size: xxx-large;">order</button>
                </div>
            </div>

        </form>
    </div>
</div>