.fom{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 123, 145);
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: rgb(255, 123, 145);
    padding: 30px;
}
.six{
    padding: 8px;
    margin: 10px;
}
.four{
    padding: 8px;
    margin: 10px;
}

.butt{
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: rgb(255, 123, 145);
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
.butt:hover{
    border: none;
    background-color:rgb(255, 123, 145);
    color: black;
}

.desc{
    height: 200px;
    width: 100%
}