<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style="background: white;">
        <form class="fom" action=" mailto: francismburu75@gmail.com" method="POST" enctype="multipart/form-data" name="EmailForm">
            <div class="col-md-12 col-xs-12" align=center>
                <img src="../../assets/img/logo.PNG" style="width: 40%">
                <p align="center">Order form</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 col-xs-6">
                    <input [required]="true" type="text" class="form-control six" placeholder="Name" name=name>
                </div>
                <div class="col-md-6 col-xs-6">
                    <input type="text" class="form-control six" placeholder="Location" name=location>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-8">
                    <input type="text" class="form-control four" placeholder="pastry" name="product">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <input type="number => 5" class="form-control four" placeholder="in kgs" name="amount">
                </div>
                <div class="col-md-3">
                    <input type="currency" class="form-control four" placeholder="Price" name="price">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <input type="tel" placeholder="Tel" name="contact" class="form-control four">
                </div>
                <div class="col-md-6 col-md-ofset-3">
                    <input type="email" placeholder="Email" name="email" class="form-control four">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="text" class="form-control four desc" placeholder="Description" name="description">
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <label>Delivery Date</label>
                    <input type="date" placeholder="Delivery Date" name="date" class="form-control four">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-9" align=center>
                    <button class="butt" (click)="submi()" style="font-size: xxx-large;">order</button>
                </div>
            </div>
        </form>
    </div>
</div>