.fom{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    padding: 30px;
}
.six{
    padding: 8px;
    margin: 10px;
}
.four{
    padding: 8px;
    margin: 10px;
}

.butt{
    border-radius: 20px;
    border: 0;
    color: rgb(248, 66, 97);
    background-color: transparent;
    width: auto;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
.butt:hover{
    border: 1;
    background-color:rgb(248, 66, 97);
    color: white;
}

.desc{
    height: 200px;
    width: 100%
}
.row{
    margin: 0px;
    padding: 0px
}