<div class="row">
    <div class=" col col-md-12" style="top:8px;">
        <div align="center">
          <img src="assets/img/download.jpg" class="img-fluid" alt="" style="border-radius: 50%; width: 200px; height: 200px">
        </div>
    </div>
  </div> <br>

  <hr style="width: 80%; border: 1 gray; border-radius: 3px">
  
  <div class="col-md-12" align="center">
      <input type="text" name="email" placeholder="email"><br>
      <input type="password" placeholder="Password"><br>
      <button routerLink="/profile" routerLinkActive="active">
      Login</button>
    </div>