body{
    padding: 0px;
    margin: 0%;
    background: 
    linear-gradient(rgb(255, 128, 223), transparent),
    linear-gradient(to top left, white, transparent),
    linear-gradient(to top right,white, transparent);
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}