body{
    padding: 6px;
    margin: 0%;
}
.bac{
    background: 
    linear-gradient(rgb(241, 98, 98), transparent),
    linear-gradient(to top left, rgb(248, 173, 34), transparent),
    linear-gradient(to top right, rgb(255, 52, 52), transparent);
}