body{
    padding: 6px;
    margin: 0%;
}
.bac{
    background: 
    linear-gradient(rgb(255, 128, 223), transparent),
    linear-gradient(to top left, white, transparent),
    linear-gradient(to top right,rgb(252, 161, 229), transparent);
    padding: 0%;
}