body{
    padding: 10px;
    margin: 0%;
    min-height: 663px;
    background: 
    linear-gradient( white, rgb(255, 128, 223));
    font-family: 'Charm', cursive;
    color: rgb(250, 64, 166);
}
h1{
    padding: 0%;
    margin: 0%;
    font-size: 50px
}
img{
  width: 90px;
  margin-left: 10px;
  padding: 10px;
}
i{
    margin: 10px;
    font-size: 30px;
    color: rgb(250, 64, 166);
    float: right;
}
nav{
    font-size: 20px;
    background-color: transparent;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
    text-align: left;
    width: 100%;
}
button{
    width: auto;
    background: transparent;
    margin-left: 10px;
    border-radius: 10px;
    border: 0ch;
}
button:hover {
    color: black;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	opacity: 1;
}