body{
    background-color: transparent;
}
img{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}
button{
    width: 90%;
    height: auto;
    margin: 0px;
    padding: 0%;
    border-radius: 20px;
    border: 1;
    border-color: rgb(250, 64, 166);
    background: transparent;
}
.row{
    margin: 0%;
    padding: 0%;
}
.tab{
    height: auto;
    text-align: center;
    font-size: large;
    margin: 0px;
    padding: 0px;
}
.col-md-6{
    margin: 0%;
    padding: 0%;
}
.hei{
    min-height: 360px;
}
.col-md-6{
    margin-bottom: 20px;
}