<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <img src="assets/img/IMG-20190813-WA0009.jpg" style="width: 300px">
    <img src="assets/img/IMG-20190813-WA0012.jpg" style="width: 300px">
    <img src="assets/img/IMG-20190813-WA0008.jpg" style="width: 300px">
    <img src="assets/img/IMG-20190813-WA0007.jpg" style="width: 300px">
    <img src="assets/img/IMG-20190813-WA0011.jpg" style="width: 300px">
    <img url="https://www.instagram.com/p/CMOjjH1gY-5/" style="width: 300px">
  </div>
</div>