<div class="row" align="center">
  <div class="col-md-12" style="padding: 20px;">
    <div class="col-md-2">
      <button routerLink="/cakes" style="background: url(../../assets/img/IMG-20190813-WA0006.jpg); background-size: 100%;"></button> <br>
      Cakes
    </div>
    <div class="col-md-2">
      <button routerLink="/cupcakes" style="background: url(../../assets/img/cup.jpg);
      background-size: 100%;"></button><br>
      Cupcakes
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/IMG-20190813-WA0003.jpg"><br>
      Cookies
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/IMG-20190813-WA0003.jpg"><br>
      Bread
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/IMG-20190813-WA0003.jpg"><br>
      Healthy & Special Corner
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/IMG-20190813-WA0003.jpg"><br>
      Offers
    </div>
  </div>
  <router-outlet></router-outlet>
</div>