body{
    background-color: transparent;
}
img{
    height: 90px;
    width: 100px;
    margin: 0px;
    border-radius: 20px;
}
button{
    height: 90px;
    width: 100px;
    margin: 0px;
    border-radius: 20px;
    border: 0ch;
}