footer{
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
    background: rgb(255, 128, 223);
}
.pad{
    padding: 6px;
    font-size: large;
}
.row{
    margin: 0ch;
    margin-top: 100px;
    padding: 0%;
    width: 100%;
}