footer{
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
}
.pad{
    padding: 10px;
    font-size: large;
}
.row{
    background: rgb(248, 66, 97);
    margin: 0ch;
    margin-top: 20px;
}