footer{
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
}
.pad{
    padding: 10px;
    font-size: large;
}
.row{
    background: rgb(255, 128, 223);
    margin: 0ch;
    padding: 0%;
    margin-top: 20px;
    width: 100%;
}