<div class="row">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <hr style="width: 90%; background: white; border-radius: 50%;">
        <footer>
            <p style="font-size: large; margin: 20px; color: rgb(71, 71, 71);">@ copyright 2019 all rights reserved</p>
            <div class="col-md-12" align=center>
                <div class="col-md-4 pad">
                    <p><i class="fa fa-phone"></i><a href="tel: +254-729-447-718">: +254-729-447-718</a></p><br>
                    <a class="link" target="blank" href="https://facebook.com/cake360ke"><i class="fa fa-facebook"></i>: @Cake360Ke</a>
                </div>
                <div class="col-md-4 pad">
                    <p><i class="fa fa-phone"></i><a href="tel: +254-729-447-718">: +254-729-447-718</a></p><br>
                    <a class="link" target="blank" href="https://instagram.com/cake360ke"><i class="fa fa-instagram"></i>: @Cake360Ke</a>
                </div>
                <div class="col-md-4 pad">
                    <p><i class="fa fa-envelope"></i>: <a target="blank" href=" mailto: cakethreesixty@gmail.com">cakethreesixty@gmail.com</a></p> <br>
                    <a class="link" target="blank" href="https://twitter.com/cake360ke"><i class="fa fa-twitter"></i>: @Cake360Ke</a>
                </div>
            </div>
        </footer>
</div>