<div class="row">
        <footer>
            <p>@ copyright 2019 all rights reserved</p>
            <div class="col-md-12" align=center>
                <div class="col-md-4 pad">
                    Phone: 0729447718<br>
                    Facebook: @Cake360Ke<br>
                </div>
                <div class="col-md-4 pad">
                    Mobile: 0729447718<br>
                    Instagram: @Cake360Ke<br>
                </div>
                <div class="col-md-4 pad">
                    Email: cakethreesixty@gmail.com<br>
                    Twitter: @Cake360Ke<br>
                </div>
            </div>
        </footer>
</div>