<div class="row">
    <div class="col-md-12" style="background: rgb(255, 230, 234);">
        <footer>
            <hr>
            <p style="padding: 6px">@ copyright 2019 all rights reserved</p>
            <div class="col-md-12" align=center>
                <div class="col-md-4">
                    Phone: 0729447718<br>
                    Facebook: @Cake360Ke<br>
                </div>
                <div class="col-md-4">
                    Mobile: 0729447718<br>
                    Instagram: @Cake360Ke<br>
                </div>
                <div class="col-md-4">
                    Email: cakethreesixty@gmail.com<br>
                    Twitter: @Cake360Ke<br>
                </div>
            </div>
        </footer>
    </div>
</div>