<div class="row" style="padding: 0px; font-size: x-large; color: black;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height: auto;">
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cup.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake3.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake2.jpg"><br>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake1.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake2.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake2.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake2.jpg"><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pad">
            <img src="../../../assets/img/cupcake2.jpg"><br>
        </div>
    </div>
</div>