<div class="row pad" style="padding: 0px; font-size: x-large; color: black;">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6 col-xs-12 pad" align="center">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup.jpg"><br>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup1.jpg"><br>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pad" align="center">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup3.jpg"><br>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup3.jpg"><br>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6 col-xs-12 pad" align="center">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup2.jpg"><br>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup2.jpg"><br>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pad" align="center">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup2.jpg"><br>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <img src="../../../assets/pics/cup2.jpg"><br>
            </div>
        </div>
    </div>
</div>