<div class="row">
    <div class=" col col-md-12" style="top: 8px">
        <div align="center">
          <img src="assets/img/download.jpg" class="img-fluid" alt="" style="border-radius: 50%; width: 200px; height: 200px">
        </div>
    </div>
  </div> <br>
  <hr style="width: 80%; border: 1 gray; border-radius: 3px">
  
  <div class="row" align=center>
    <div class="col-md-12">
      <p class="design"> {{ username }} </p>
      <p class="design"> {{ email }} </p>
    </div>
  </div>

<button routerLink="/edit" routerLinkActive="active">Edit profile</button>
<button>signout</button>