<div class="container">
    <h2 align=center>Welcome to CAKE 360</h2>
    <p class="word" style="margin: 20px; padding: 20px;">
        Cake - 360 was founded by Christine Ngugi back in 2018, it all started at her mother's small kitchen
        at a place called kikuyu. Christine had a passion for baking and started learning and experimenting with
        banana breads and sponge cakes...
    </p>
    <p class="word" style="margin: 20px; padding: 20px;">
        ... Christine later evolved to baking and decorating birthday & wedding cakes, muffins and cookies.
    </p>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 word" align=center style="padding: 100px"> 
            <p>Welcome to cake 360 where we bring fantasies, memories and visions to reality. </p>
        </div>
        <div class="col-md-5 word" align=center>
            <img src="assets/img/IMG-20190813-WA0005.jpg" style="width: 200px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 word" align=center>
           <img src="assets/img/IMG-20190813-WA0006.jpg" style="width: 200px">
        </div>
        <div class="col-md-6 word" align=center style="padding: 100px">
           <p>At cake 360 we deliver quality and originality to satisfy all your needs</p>
        </div>
    </div>
</div>