<div class="container">
    <h2 align=center>Welcome to CAKE 360</h2>
    <div class="row">
        <div class="col-md-12" align=center>
            <img src="assets/img/IMG-20190808-WA0006.jpg" style="width: 250px; margin: 8px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 word" align=center style="padding: 100px"> 
            <p>Welcome to cake 360 where we bring fantasies, memories and visions to reality. </p>
        </div>
        <div class="col-md-5 word" align=center>
            <img src="assets/img/IMG-20190813-WA0005.jpg" style="width: 300px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 word" align=center>
           <img src="assets/img/IMG-20190813-WA0006.jpg" style="width: 300px">
        </div>
        <div class="col-md-6 word" align=center style="padding: 100px">
           <p>At cake 360 we deliver quality and originality to satisfy all your needs</p>
        </div>
    </div>
</div>