<div class="row com">
    <h2 align=center>Welcome to CAKE 360</h2>
    <div class="col-md-6 col-md-offset-1 word col-sm-7 col-xs-6" align=center style="padding: 0px"> 
        <p>Welcome to cake 360 where we bring fantasies, memories and visions to reality. </p>
    </div>
    <div class="col-md-5 word col-sm-5 col-xs-6" align=center>
        <img src="../../assets/img/safe.jpg" style="height: 100px; border-radius: 100%;">
    </div>
    <div class="col-md-5 word col-sm-5 col-xs-6" align=center>
       <img src="../../assets/img/safe.jpg" style="height: 100px; border-radius: 100%;">
    </div>
    <div class="col-md-6 word col-sm-7 col-xs-6" align=center style="padding: 0px">
       <p>At cake 360 we deliver quality and originality to satisfy all your pastry needs</p>
    </div>
</div>